* {
  box-sizing: border-box;
  -webkit-overflow-scroling: touch;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  color: inherit;
}

main {
  height: 100vh;
  background-color: rgb(254, 254, 254);
}
